.app{
 text-align: center;
}
.multiselect{
width: 460px;
margin-left: 520px;
margin-top: 25px;
}
.multiques{
  margin-top: 20px;
}
.singleselect{
  width: 460px;
margin-left: 520px;
margin-top: 25px;

}
.singleques{
  margin-top: 20px;
}